.header {
  background: aqua;
  height: 200px;
  color: white;
  text-align: center;
  text-align: center;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3rem;
}
